[run]
omit = mw4/test/*,
       mw4/generate/*,
       mw4/gui/media/*,
       mw4/gui/widgets/*,
       automation/*,
       gists/*,
       */__init__.py,
       mw4/gui/mount3D.py,
       /Users/mw/PycharmProjects/Envs/*.py,
