qimage2ndarray
astropy==3.1.2
matplotlib==3.1.1
numpy==1.17
PyQt5==5.13
PyQt5-sip==4.19.17
requests==2.22.0
requests_toolbelt==0.9.1
skyfield==1.10
wakeonlan==1.1.6
pytest==5.0.1
pytest-qt==3.2.2
coverage==4.5.3
flake8==3.7.7
pyinstaller==3.5
twine==1.13.0
indibase>=0.100
mountcontrol>=0.100
invoke
qimage2ndarray