astropy==3.1.2
matplotlib==3.1.1
numpy==1.16.4
PyQt5==5.12.2
PyQt5-sip==4.19.17
requests==2.22.0
requests_toolbelt==0.9.1
skyfield==1.10
wakeonlan==1.1.6
pytest==4.6.2
pytest-qt==3.2.2
coverage==4.5.3
flake8==3.7.7
pyinstaller==3.5
twine==1.13.0
indibase>=0.100
mountcontrol>=0.100
invoke