astropy==3.1
matplotlib==3.0.2
numpy==1.15.4
PyQt5==5.11.3
PyQt5-sip==4.19.13
requests==2.21.0
requests_toolbelt==0.8.0
skyfield==1.9
wakeonlan==1.1.6
pytest==4.0.2
pytest-qt==3.2.2
coverage==4.5.2
flake8==3.6.0
pyinstaller==3.4
indibase==0.3
mountcontrol==0.62