#!/usr/bin/env xdg-open

[Desktop Entry]
Version=4.0
Type=Application
Terminal=false
Exec=/home/mw/mountwizzard4/start_work.sh
Name=MountWizzard4
Comment=MountWizzard4
Icon=/home/mw/mountwizzard4/mw4.png
Name[de_DE]=MountWizzard4.desktop
