*, body, html {
    margin: 0;
    padding:0;
}

body, html {
    height: 100%;
    background-color:#000
}

h1 {
    color: #ccc;
    font-family:Helvetica
}

.mainlink {
    border: 1px solid #fff;
    padding: 10px;
    margin:10px
}

.mainlink, .mainlink a {
    background-color: #333;
    color:#fff
}

.mainlink a {
    text-decoration:none
}

.global-container {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items:center
}

div.global-header {
    width:100%
}

div.global-main {
    min-height: 0;
    height: 100%;
    width:100%
}

@-moz-document url-prefix() {
    .box {
        width: 100%;
        -moz-box-sizing: border-box
    }
}


