div.virtkp_display {
    width: 100%;
    height: 25%;
    padding: 0;
    margin:0
}

table.virtkp_display {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    line-height:0
}

table.virtkp_display, td.virtkp_glyph {
    background-color: #000;
    padding: 0;
    margin:0
}

img.virtkp_glyph {
    width: 100%;
    height:100%
}

div.virtkp_buttons {
    width: 100%;
    height: 75%;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}

table.virtkp_buttons {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    line-height:0
}

td.virtkp_button {
    background-color: #202020;
    margin: 0;
    padding:0
}

img.virtkp_button {
    width: 100%;
    height: 100%;
    border:none
}

div.virtkeypad {
    background-color: #202020;
    margin:auto
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000
}


