############################################################
#
#       #   #  #   #   #    #
#      ##  ##  #  ##  #    #
#     # # # #  # # # #    #  #
#    #  ##  #  ##  ##    ######
#   #   #   #  #   #       #
#
# Python-based Tool for interaction with the 10micron mounts
# GUI with PySide6
#
# written in python3, (c) 2019-2026 by mworion
# Licence APL2.0
#
###########################################################

name: test_scripts_packages

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  gh: 'https://raw.githubusercontent.com/mworion/InstallerMW4/main/support/'
  wid: 'src_add/widgets/'
  widDest: 'src/mw4/gui/widgets/'
  uic: 'uv run pyside6-uic'
  ucc: 'uv run pyside6-rcc'
  res: 'src_add/assets/'
  resDest: 'src/mw4/assets/'

on:
  push:
    # Run this action on the trigger event when specific files are touched
    paths:
      - 'pyproject.toml'
      - 'support/**'
      - '.github/workflows/test_scripts_packages.yml'

jobs:
  build_widgets_resource:
    runs-on: 'ubuntu-22.04'
    steps:
    - uses: actions/checkout@v6
    
    - name: install uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
        python-version: '3.13'

    - name: build_widgets_resource
      run: |
        uv venv
        uv pip install PySide6
        ${{env.uic}} ${{env.wid}}devicePopup.ui -o ${{env.widDest}}devicePopup_ui.py
        ${{env.uic}} ${{env.wid}}downloadPopup.ui -o ${{env.widDest}}downloadPopup_ui.py
        ${{env.uic}} ${{env.wid}}uploadPopup.ui -o ${{env.widDest}}uploadPopup_ui.py
        ${{env.uic}} ${{env.wid}}hemisphere.ui -o ${{env.widDest}}hemisphere_ui.py
        ${{env.uic}} ${{env.wid}}image.ui -o ${{env.widDest}}image_ui.py
        ${{env.uic}} ${{env.wid}}keypad.ui -o ${{env.widDest}}keypad_ui.py
        ${{env.uic}} ${{env.wid}}main.ui -o ${{env.widDest}}main_ui.py
        ${{env.uic}} ${{env.wid}}measure.ui -o ${{env.widDest}}measure_ui.py
        ${{env.uic}} ${{env.wid}}message.ui -o ${{env.widDest}}message_ui.py
        ${{env.uic}} ${{env.wid}}satellite.ui -o ${{env.widDest}}satellite_ui.py
        ${{env.uic}} ${{env.wid}}analyse.ui -o ${{env.widDest}}analyse_ui.py
        ${{env.uic}} ${{env.wid}}simulator.ui -o ${{env.widDest}}simulator_ui.py
        ${{env.uic}} ${{env.wid}}material.ui -o ${{env.widDest}}material_ui.py
        ${{env.ucc}} ${{env.res}}assetData.qrc -o ${{env.resDest}}assetData.py

    - name: build_package
      run: |
        uv build
        rm dist/*.whl
        mv dist/mountwizzard4*.* dist/mountwizzard4.tar.gz

    - name: upload_package
      uses: actions/upload-artifact@v6
      with:
        name: dist
        path: dist
        
  install_package_windows:
    needs: [build_widgets_resource]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, windows-2025]
        python-version: [ '3.11', '3.13' ]

    steps:
      - name: install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
          
      - name: MountWizzard4 Install
        continue-on-error: true
        run: |                  
          uv venv
          uv pip install dist/mountwizzard4.tar.gz
          
      - name: Run MountWizzard4
        continue-on-error: true
        run: |
          touch test.run
          uv run mw4


  install_package_ubuntu:
    needs: [build_widgets_resource]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04 ]
        python-version: [ '3.11', '3.13' ]

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Install Head
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb libxkbcommon-x11-0 x11-utils libxcb-icccm4
          sudo apt-get install -y libxcb-image0 libxcb-keysyms1 libxcb-randr0
          sudo apt-get install -y libxcb-render-util0 libpulse-mainloop-glib0
          sudo apt-get install -y libx11-xcb1 libxcb-xinerama0 libxcb-xkb1
          sudo apt-get install -y libxcb-keysyms1 ffmpeg libsm6 libxext6
          sudo apt-get install -y libxcb-cursor0 libegl1-mesa
          
      - name: install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
  
      - name: MountWizzard4 Install
        continue-on-error: true
        run: |
          uv pip install dist/mountwizzard4.tar.gz
          
      - name: Run MountWizzard4
        continue-on-error: true
        run: |
          touch test.run
          xvfb-run uv run mw4


  install_package_macOS:
    needs: [build_widgets_resource]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15, macos-15-intel, macos-26]
        python-version: [ '3.11', '3.13' ]

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
          
      - name: install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          
      - name: MountWizzard4 Install
        continue-on-error: true
        run: |
          uv pip install dist/mountwizzard4.tar.gz
          
      - name: MountWizzard4 Run
        continue-on-error: true
        run: |
          touch test.run
          uv run mw4
 